package main

import (
	"adventofcodego/utils/inputs"
	"adventofcodego/utils/utils"
)

func part1(input string) interface{} {
	return input
}

func part2(input string) interface{} {
	return input
}

func main() {
	var day int64 = DAYNUMBER

	utils.Solve(part1, part2, day)
}
