package main

import (
	// "adventofcodego/utils/inputs"
	"adventofcodego/utils/utils"
)

var DAY int = DAYNUMBER

func part1(input string) interface{} {
	return nil
}

func part2(input string) interface{} {
	return nil
}

func main() {
	utils.Solve(part1, part2, DAY)
}
